* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #222;
}

.primary-heading,
button {
  border: 1px solid #222;
  border-radius: 10px;
  background-color: #fff;
}

.primary-heading {
  padding: 10px 15px;
  text-align: center;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button {
  padding: 5px 10px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #222;
}
